* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #333;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
  height: 100vh;
  border-right: 1px solid #777;
  -webkit-transition: width .6s;
  transition: width .6s;
}

.nav__colapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  width: 100%;
  height: 10%;
  color: #fff;
  cursor: pointer;
}

.nav__colapse:hover .nav__colapse__icon {
  color: #ab40c5;
}

.nav__colapse__icon {
  font-size: 2.2rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: color .3s, -webkit-transform .6s;
  transition: color .3s, -webkit-transform .6s;
  transition: transform .6s, color .3s;
  transition: transform .6s, color .3s, -webkit-transform .6s;
}

.nav__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60%;
  width: 100%;
}

.nav__icons__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 33%;
  width: 100%;
  cursor: pointer;
}

.nav__icons__icon:hover .nav__icons__icon__fa {
  color: #ab40c5;
}

.nav__icons__icon__fa {
  font-size: 2.8rem;
  color: #F783AC;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.loginScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 1;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
  z-index: 1;
}

.loginScreen__box {
  height: 200px;
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.loginScreen__box__input {
  font-size: 1.8rem;
  padding: 0.5em 1em;
  border-radius: 50px;
  border: 2px solid #ab40c5;
  background-color: #444;
  text-decoration: none;
  color: #c1bceb;
}

.loginScreen__box__input:focus, .loginScreen__box__input:active {
  outline: none;
  border: 2px solid #F783AC;
}

.loginScreen__box__button {
  font-size: 1.8rem;
  padding: 0.5em 1em;
  border-radius: 50px;
  border: none;
  background-color: #F783AC;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.loginScreen__box__button:hover {
  background-color: #ab40c5;
}
/*# sourceMappingURL=main.css.map */