* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}

// navigation and login screen

.nav {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100px;
    height: 100vh;
    border-right: 1px solid #777;
    background-color: #333;
    transition: width .6s;
    z-index: 2;

    &__box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__colapse {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
        width: 100%;
        height: 10%;
        color: #fff;
        cursor: pointer;

        &:hover &__icon {
            color: #ab40c5;
        }

        &__icon {
            font-size: 2.2rem;
            transform: rotate(0deg);
            transition: transform .6s,
                color .3s;
        }
    }

    &__icons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 60%;
        width: 100%;

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 33%;
            width: 100%;
            cursor: pointer;

            &:hover &__fa {
                color: #ab40c5;
            }

            &__fa {
                font-size: 2.8rem;
                color: #F783AC;
                transition: color .3s;
            }
        }
    }
}

.loginScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    opacity: 1;
    transition: opacity .7s;
    z-index: 3;

    &__box {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-sizing: content-box;

        &__input {
            font-size: 1.4rem;
            padding: 0.5em 1em;
            border-radius: 50px;
            border: 2px solid #ab40c5;
            background-color: #444;
            text-decoration: none;
            color: rgb(193, 188, 235);

            &:focus,
            &:active {
                outline: none;
                border: 2px solid #F783AC;
            }
        }

        &__button {
            font-size: 1.4rem;
            padding: 0.5em 1em;
            border-radius: 50px;
            border: none;
            background-color: #F783AC;
            color: #fff;
            cursor: pointer;
            transition: background-color .3s;

            &:hover {
                background-color: #ab40c5;
            }
        }
    }
}

// main & first blocks

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    z-index: 1;

    &__h2 {
        font-size: 2rem;
        padding: 0.5em;
        font-family: 'Grechen Fuemen',
            cursive;
        letter-spacing: 0.05em;
        font-weight: bold;
        color: #FFFAFA;
        text-shadow: 0px 0px 5px black;
        text-align: center;
    }

    &__indexlink {
        font-size: 2.8rem;
        text-decoration: none;
        padding: 0.5em;
        font-family: 'Montserrat',
        sans-serif;
        border: 1px solid #ab40c5;
        box-shadow: 0px 0px 10px black inset;
        border-radius: 50%;
        color: #ab40c5;
    }

    .container {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        min-height: 150vh;

        &__course {
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            width: 90%;
            border: 1px solid #777;
            border-radius: 8px;
            height: 500px;
            margin: 1em 0;

            &__logo {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 25%;
                border-bottom: 1px solid #777;
                box-shadow: 0px 0px 20px black inset;

                &__fa {
                    font-size: 8rem;
                    color: #ab40c5;
                    text-shadow: 0px 0px 5px black;
                }
            }

            &__text {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;
                height: 60%;
                width: 100%;

                &__heading {
                    font-family: 'Grechen Fuemen',
                        cursive;
                    letter-spacing: 0.05em;
                    font-weight: bold;
                    color: #FFFAFA;
                    text-shadow: 0px 0px 5px black;
                    font-size: 1.8rem;
                }

                &__text {
                    font-family: 'Montserrat',
                        sans-serif;
                    width: 90%;
                    color: #FFFAFA;
                    font-size: 1.4rem;
                }
            }

            &__button {
                padding: 1em;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 15%;

                &__button {
                    text-align: center;
                    font-size: 1.8rem;
                    min-width: 150px;
                    font-weight: bold;
                    text-decoration: none;
                    padding: 0.5em 1em;
                    border-radius: 50px;
                    border: none;
                    background-color: #333;
                    color: #FFFAFA;
                    box-shadow: 0px 0px 20px black inset;
                    border: 1px solid #FFFAFA;
                    cursor: pointer;
                    transition: background-color .3s;
                }
            }
        }
    }
}

// breakpoints

@media(min-width: 768px) {
    .nav {
        display: block;
    }

    .loginScreen {
        &__box {
            &__input {
                font-size: 1.8rem;
            }

            &__button {
                font-size: 1.8rem;
            }
        }
    }

    .main {
        width: calc(100% - 100px);
    }
}

@media(min-width: 450px) {
    .loginScreen {
        &__box {
            &__input {
                font-size: 1.6rem;
            }

            &__button {
                font-size: 1.6rem;
            }
        }
    }
}