html {
    margin: 0 auto;
}

body {
    background-color: #333;
}

* {
    font-family: sans-serif;
    color:rgb(0, 0, 0);
}


h2 {
    color: rgb(255, 255, 255);
}

.fluid-container {
    margin-left: 5vw;
    text-align: center;
    margin-right: 5vw;
    background-color: #333;
}

#save-btn {
    width: 20vw;
    background-color: #333;
    position: relative;
    color: white;
    margin-top: 2vh;
    border: 3px solid red;
    transition-duration: 0.5s;
}

#save-btn:hover {
    background-color: #fff;
    color: black;
    border: 3px solid green;
}